:root {
  --primary-color: #031633;
  --secondary-color: #ffffff;
}

.light_theme {
  --primary-color: #ffffff;
  --secondary-color: #031633;
}

body {
  background-color: var(--primary-color); 
}
  
/* body */
body, main {
  background: var(--primary-color); ;
}
body > .container {
  padding: 16px 0 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px; 
  width: calc(100% - 24px); 
  box-sizing: border-box;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px; 
  width: calc(100% - 24px); 
  box-sizing: border-box;
}
.container > .row {
  width: 100%; 
}

/* Background white circles */
.blur-circles-1, .blur-circles-2, .blur-circles-3 {
  position: relative;
  z-index: 3;
}
.blur-circles-1::before {
  content: '';
  position: fixed;
  top: -20%;
  left: 40%;
  width: 20%;
  height: 30%;
  background-color: white;
  opacity: 0.3;
  filter: blur(100px);
  border-radius: 20%;
  z-index: 3;
}
.blur-circles-2::before {
  content: '';
  position: fixed;
  top: 40%;
  left: 95%;
  width: 30%;
  height: 30%;
  background-color: white;
  opacity: 0.3;
  filter: blur(100px);
  border-radius: 20%;
  z-index: 3;
}
.blur-circles-3::before {
  content: '';
  position: fixed;
  top: 80%;
  left: -20%;
  width: 30%;
  height: 30%;
  background-color: white;
  opacity: 0.3;
  filter: blur(100px);
  border-radius: 20%;
  z-index: 3;
}

/* navbar */
.navbar {
  background: var(--primary-color); ;
  box-shadow: 0 1px 10px var(--secondary-color);
  z-index: 2;
}  
.navbar-toggler {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.btn-close {
  background-color: var(--secondary-color);
}
.site-header .navbar-nav .nav-link {
  color: var(--secondary-color);
}
.hover-blue:hover {
  color: #9ec5fe;
}
span {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
span.mq-root-block{
  color: #031633;
}
span.mq-root-block span{
  color: #031633;
}
#offcanvasNav {
  transition: transform 0.5s ease;
}
.offcanvas-body {
  padding-left: 72px;
  padding-right: 72px;
  background-color: var(--primary-color); ;
}
.offcanvas-header {
  padding-left: 75px;
  padding-right: 75px;
  background-color: var(--primary-color); ;
}

/* sidenav */
#offcanvas-side {
  transition: transform 0.5s ease;
}
.nav-white-hover {
  position: relative;
}
.nav-white-hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 120%;
  background-color: var(--secondary-color);
  opacity: 0.3;
  border-radius: 10px;
  z-index: -1;
  transition: opacity 0.3s ease;
}
.nav-white-hover:hover::before,
.nav-white-hover.active::before {
  opacity: 0.2;
  z-index: 1
}

/* footer */
footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* Ensures container doesn't exceed the viewport width */
  width: calc(100% - 24px); /* Subtracting the left padding to account for the margin */
  box-sizing: border-box; /* Includes padding and border within the total width */
}

/* font */
h1, h2, h3, h4, h5, h6, small {
  color: var(--secondary-color)
}
.black-white {
  color: var(--secondary-color)
}


/* Divs */
.btn {
  border-radius: 40px;
}
.btn-icon {
  width: 44px;
  height: 44px;
}
.subject_offerings {
  border-radius: 10px;
  background-color: var(--primary-color); ;
  border: 1px solid #0dcaf0;
}
.aga_latest_homework {
  border-radius: 10px;
  background-color: #E56C5F;
  border: 1px solid var(--secondary-color);
}
.aga_latest_lesson {
  border-radius: 10px;
  background-color: #E8B03E;
  border: 1px solid var(--secondary-color);
}
.stats_homework {
  border-radius: 10px;
  background-color: #E56C5F;
  border: 1px solid var(--secondary-color);
}
.stats_question {
  border-radius: 10px;
  background-color: #6DAFA5;
  border: 1px solid var(--secondary-color);
}
.stats_lesson {
  border-radius: 10px;
  background-color: #E8B03E;
  border: 1px solid var(--secondary-color);
}
.calender_upcoming {
  border-radius: 10px;
  background-color: #75A7D4;
  border: 1px solid var(--secondary-color);
}
.aga_bubble {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}
.aga_bubble div {
  flex: 1;
  border-right: 1px solid var(--secondary-color);
}
.circle-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  margin: 0px;
}
.call_to_action {
  border-radius: 30px;
  background: linear-gradient(to bottom right, white 0%, #CBC2FF 26%, #75A7D4 100%);
  border: 1px solid #0dcaf0;
  opacity: 0.89;
}
.expand-link {
  border-radius: 10px;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0 0 0px var(--secondary-color);
}
.expand-link:hover {
  border-radius: 10px;
  box-shadow: 0 0 24px var(--secondary-color);
}
.notification-overlay {
  border-radius: 10px;
  background-color: var(--primary-color); ;
  border: 1px solid var(--secondary-color);
}




/* login  */
.input-group-text {
  background-color: transparent;
}

/* Custom CSS for curved progress bar */
.progress-background {
  fill: none;
  stroke: #e8e8e8;
  stroke-width: 3;
}
.progress-bar {
  fill: none;
  stroke: #7749F8;
  stroke-width: 3;
  stroke-dasharray: 0 251;
  animation: progress 1s linear forwards;
}

.homework-progress-bar {
  background-color: #7749F8;
  transition: width 1s linear;
  animation: progress-animation 1s linear forwards;
}

/* Calender */
.calendar, .calendar_weekdays, .calendar_content {
  max-width: 450px; }
.calendar {
  margin: auto;
  font-weight: 400; }
.calendar_content {
  background: white; }
.calendar_weekdays {
  background: #1089ff; }
.calendar_header {
  padding: 10px 0; }
.calendar_content, .calendar_weekdays, .calendar_header {
  position: relative;
  overflow: hidden; }
.calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
  color: var(--secondary-color) !important; }
.calendar_weekdays div, .calendar_content div {
  width: 14.28571%;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  padding: 15px 0; }
.calendar_content div {
  border: 1px solid transparent;
  float: left;
  position: relative;
  z-index: 0; }
.calendar_content div:hover {
  border: 1px solid var(--secondary-color);
  cursor: default; }
.calendar_content div.blank:hover {
  cursor: default;
  border: 1px solid transparent; }
.calendar_content div.past-date {
  color: #d5d5d5; }
.calendar_content div.today {
  font-weight: bold;
  font-size: 12px;
  color: var(--secondary-color) !important; }
  .calendar_content div.today:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    background: #1089ff;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48); }
.calendar_header {
  width: 100%;
  text-align: center; }
.calendar_header h2 {
  padding: 0 10px;
  font-weight: 500;
  font-size: 20px;
  color: #1089ff;
  float: left;
  width: 70%;
  margin: 0 0 10px; }
button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  color: var(--secondary-color);
  float: left;
  width: 15%;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
button.switch-month:hover {
  color: #1089ff; }


/* Calculator */
.calculator-btn {
  width: 60px;
  height: 60px;
  border: 1px solid #17A2B8;
  border-radius: 40px;
  font-size: 20px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--secondary-color);
}

.calculator-btn:hover { 
  background-color: #17A2B8;
}

.calculator-btn:focus,
.calculator-btn:active {
  background-color: var(--secondary-color);;
  outline: none;
}

.calculator-btn-lg {
  width: 120px;
  height: 60px;
  border: 1px solid #17A2B8;
  border-radius: 40px;
  font-size: 20px;
  background-color: var(--primary-color);;
  cursor: pointer;
  color: var(--secondary-color);
}

.calculator-btn-lg:hover { 
  background-color: #17A2B8;
}

.calculator-btn-lg:focus,
.calculator-btn-lg:active {
  background-color: var(--secondary-color);;
  outline: none;
} */


/* Whiteboard */
#whiteboard {
  /* touch-action: pinch-zoom; */
  cursor: crosshair;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#toolbar {
  position: absolute;
  display: flex;  
  flex-direction: column;
  cursor: move;
  z-index: 9;
  background-color: #29e;
  border-radius: 0.75em;
  padding: 0.5%;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

#toolbar_color_collapse {
  border-radius: 0.75em;
  padding: 0.5%;
}

#toolbar_font_collapse {
  border-radius: 0.75em;
  padding: 0.5%;
}
.btn-circle-sm {
  width: 25px;
  height: 25px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
  background-color: #2196F3;
}
.whiteboard-overlay-top-right{
  position: fixed;
  right: 10px;
  top: 10px;
  border: none;
}
.whiteboard-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.btn-circle-lg {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
  background-color: black;
  color: #fff; 
}

/* Courses */
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  transform: scale(1.5); /* Adjust the scale factor as needed */
}

/* .bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5f788a;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

#canvas3{
  border: 1px solid black;
  touch-action: none;
}

#canvas1{
  border: 1px solid black;
  touch-action: none;
}

#canvas2{
  border: 1px solid black;
  touch-action: none;
}

.btn-circle-lg {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
  background-color: black;
}


.btn-circle-lg i {
  color: #fff; 
}

.btn-circle-sm {
  width: 25px;
  height: 25px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
  background-color: #2196F3;
}

#toolbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: move;
  z-index: 9;
  background-color: #29e;
  border-radius: 0.75em;
  padding: 0.5%;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

#toolbar_color_collapse {
  border-radius: 0.75em;
  padding: 0.5%;
}

#toolbar_font_collapse {
  border-radius: 0.75em;
  padding: 0.5%;
}