body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5f788a;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {display: block;}

  #canvas3{
    border: 1px solid black;
    touch-action: none;
  }

  #canvas1{
    border: 1px solid black;
    touch-action: none;
  }

  #canvas2{
    border: 1px solid black;
    touch-action: none;
  }

  .btn-circle-lg {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    background-color: #2196F3;
  }

  .btn-circle-sm {
    width: 25px;
    height: 25px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    background-color: #2196F3;
  }

  /* #toolbar_font_collapse {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
  }
  
  #toolbar_font_collapse.collapse {
    right: -250px;
  } */


  #toolbar {
    position: absolute;
    display: flex;
    cursor: move;
    z-index: 9;
    background-color: #29e;
    border-radius: 0.75em;
    padding: 0.5%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }