{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}

{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
    <div class="content-section" style="min-height:50vh">
        <h3 class="mt-5 text-center">Changelog</h3>
        {% if current_user.account_type == 'Admin' %}
            <div class="container-fluid text-center">
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('main.new_changelog') }}">New Changelog <i class="fa-solid fa-square-plus"></i></a>
            </div> 
        {%endif%}
        {% for changelog in changelogs.items %}
        <div class="col w-100 my-3">
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + changelog.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata text-left">
                        <a class="mr-2">Version {{ changelog.version }}</a> 
                        <small class="text-muted">Date Posted: {{ changelog.date_posted.strftime('%Y-%m-%d') }}</small>
                        {% if current_user.account_type == 'Admin' %}
                            <a class="btn btn-link btn-sm mt-1 mb-1" href="{{ url_for('main.update_changelog',changelog_id=changelog.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        {% endif %}
                    </div>
                    <a class="article-title">
                        <div class="row mt-3">
                            <div class="col-12">
                                <p style="white-space: pre-wrap">{{changelog.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </article>
        </div>
        {% endfor %}
        {% for page_num in changelogs.iter_pages(left_edge=1, right_edge=1, left_current = 1, right_current=2) %} <!--define how many pages to show on bottom both sides-->
            {% if page_num %}
                {% if changelogs.page==page_num %} <!--different style for current page button-->
                    <a class="btn btn-info mb-4" href="{{ url_for('main.about', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('main.about', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock content %}