{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}

{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<div class="container">
    <div class="row mx-0">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="d-flex">
                <h2 class="fw-bold">Admin</h2>
            </div>
            <hr class="black-white">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th class="black-white" scope="col">#</th>
                    <th class="black-white" scope="col">Username</th>
                    <th class="black-white" scope="col">Email</th>
                    <th class="black-white" scope="col">Account Type</th>
                    <th class="black-white" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>    
                        <th class="align-middle black-white" scope="row">{{ user.id }}</th>
                        <td class="align-middle black-white">{{ user.username }}</td>
                        <td class="align-middle black-white">{{ user.email }}</td>
                        <td class="align-middle black-white"> {{ user.account_type }}</td>
                        <td>
                            {% if user.account_type == "Admin" %}
                                <button type ="button" class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#RemoveAdmin{{user.id}}">Remove Admin <i class="bi bi-person-x-fill black-white fs-6 my-auto"></i></button>
                            {% elif user.account_type == "User" %}
                                <button type ="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#MakeAdmin{{user.id}}">Make Admin <i class="bi bi-people-fill black-white fs-6 my-auto"></i></button>
                            {% endif %}
                            <button type ="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#DeleteUser{{user.id}}">Delete <i class="bi bi-person-dash-fill black-white fs-6 my-auto"></i></button>
                            {% if user.account_type == "User" %}
                                <a href="{{ url_for('users.HW_alert', username=user.username) }}" class="btn btn-warning btn-sm m-1" style="color: white">HW Alert <i class="bi bi-bell-fill black-white fs-6 my-auto"></i></a>
                                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('users.settings', username=user.username) }}">Settings <i class="bi bi-gear black-white fs-6 my-auto"></i></a>
                            {% endif %}
                            {% if user.verified == "0" %}
                            <a class="btn btn-success btn-sm m-1" href="{{ url_for('users.verify', username=user.username) }}">Verify <i class="bi bi-check-circle black-white fs-6 my-auto"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <div class="modal fade" id="MakeAdmin{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Are you sure you wish to give Admin access?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{ url_for('users.admin_user', user_id=user.id) }}" method="POST">
                                        <input class="btn btn-success" type="submit" value="Give">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="RemoveAdmin{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Are you sure you wish to remove Admin access?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{ url_for('users.remove_admin', user_id=user.id) }}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Remove">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="DeleteUser{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Are you sure you wish to delete this User?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{ url_for('users.delete_user', user_id=user.id) }}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}