{% extends "layout.html" %} 
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/courses.js') }}" defer></script>
{% endblock %}
{% block content %} 
<form method="POST" action=""novalidate enctype="multipart/form-data"> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex">
                    <h2 class="fw-bold my-auto">My Course</h2>
                </div>
                <hr class="black-white">
                {% if current_user.account_type == 'Admin' %}
                {{ form.hidden_tag() }} <!--important, just add lol-->
                <h5 class="fw-bold" style="padding-top: 20px;">Student</h5>
                {% if form.student.errors %}
                    {{ form.student(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.student.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.student(class="form-control form-control-lg mt-1") }}
                {% endif %}
                <div class="my-4 text-center">
                    <input type="submit" class="btn btn-outline-info" type="reset" name="action" value="Load Course"/>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-4 my-auto">
                        <div class="d-flex">
                            <h5 class="fw-bold my-auto">Topics</h5>
                            <button onclick="add_course()" type="button" class="btn btn-link"><i class="bi bi-file-plus" style="font-size: 24px"></i></button>
                        </div>
                    </div>
                    <div class="col-2 text-center my-auto">
                    <h5 class="fw-bold my-auto">School</h5>
                    </div>
                    <div class="col-2 text-center my-auto">
                    <h5 class="fw-bold my-auto">Tuition</h5>
                    </div>
                    <div class="col-2 text-center my-auto">
                    <h5 class="fw-bold my-auto">Homework</h5>
                    </div>
                    <div class="col-2 text-center my-auto">
                    <h5 class="fw-bold my-auto">Revision</h5>
                    </div>
                </div>
                {% set checked_count = namespace(value=0) %}
                {% set count = namespace(value=1) %}
                {% for topic in math_topics %}
                    {% if topic != '' %}
                        <div class="row" style="padding-top: 10px;" id="{{ topic }}">
                            <div class="col-4 my-auto">
                                <div class="d-flex">
                                    <button onclick="del_course('{{ topic }}')" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>
                                    <input class="form-control topic-input" type="text" aria-label="default input example" value="{{ topic }}" id="input-{{ topic }}">  
                                </div>
                            </div>
                            {% for i in range(4) %}
                            <div class="col-2 my-auto checkbox-container">
                                {% if checked[checked_count.value] == '1' %}
                                <input type="checkbox" class="checkbox" name="checkboxes[]" checked value="{{ topic }}-{{ i }}" style="width: 20px; height: 20px">
                                {% else %}
                                <input type="checkbox" class="checkbox" name="checkboxes[]" value="{{ topic }}-{{ i }}" style="width: 20px; height: 20px">
                                {% endif %}
                                {% set checked_count.value = checked_count.value + 1 %}
                            </div>
                            {% endfor %}
                        </div>
                        {% set count.value = count.value + 1 %}
                    {% endif %}
                {% endfor %}
                {% for i in range(count.value, 26) %}
                    <div class="row" id='blank-topic-{{ i }}' style="padding-top: 10px; display: none">
                        <div class="col-4 my-auto">
                            <div class="d-flex">
                                <button onclick="del_course('blank-topic-{{ i }}')" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>  
                                <input class="form-control topic-input" type="text" placeholder="New Topic" aria-label="default input example" id="input-blank-topic-{{ i }}">
                            </div>
                        </div>
                        {% for i in range(4) %}
                        <div class="col-2 my-auto checkbox-container">
                            {% if checked[checked_count.value] == 1 %}
                            <input type="checkbox" class="checkbox" name="checkboxes[]" checked value="{{ topic }}-{{ i }}" style="width: 20px; height: 20px">
                            {% else %}
                            <input type="checkbox" class="checkbox" name="checkboxes[]" value="{{ topic }}-{{ i }}" style="width: 20px; height: 20px">
                            {% endif %}
                            {% set checked_count.value = checked_count.value + 1 %}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group" style="padding-top: 40px;">
                <button onclick="course_arr()" type="submit" class="btn btn-primary" id="save_course" name="action" value="">Save</button>
            </div>
        </div>    
    </div>
</form>
{% endblock content %}
