{% extends "layout.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate enctype="multipart/form-data"> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex align-items-center">
                    <h2 class="fw-bold my-auto">{{ legend }}</h2>
                </div>
                <hr class="black-white">
                <div class="form-group" style="padding-top: 20px;">
                    <h5 class="fw-bold">Version</h5>
                    {% if form.version.errors %}
                        {{ form.version(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.version.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.version(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" style="padding-top: 20px;">
                    <h5 class="fw-bold">Description</h5>
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg", style="min-height: 400px;") }}
                    {% endif %}
                </div>
                <div class="form-group" style="padding-top: 40px;">
                    {{ form.submit(class="btn btn-block btn-primary") }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}