{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
<script>
  function hw_qn_num(hw, qn) {
      var deleteButton = document.getElementById('deleteButton');
      deleteButton.href = deleteButton.href.replace('99', qn);
      deleteButton.href = deleteButton.href.replace('111', hw);
  }
</script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<div class="container">
  <div class="row mx-0">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="d-flex align-items-center">
          <h2 class="fw-bold my-auto">{{ homework.title }}</h2>
          {% if current_user.account_type == 'Admin' %}
          <a class="btn btn-primary btn-icon ms-3" href="{{ url_for('homeworks.new_question',homework_id=homework.id, grade='ALL', topics='ALL', difficulty='ALL') }}"><i class="bi bi-bookmark-plus align-middle"></i></a>
          {% endif %}
        </div>
        <hr class="black-white">
        {% for question in questions.items %} 
        <div style="padding-top: 20px;">
          <div class="d-flex">
            <h2 class="article-title">{{ question.title }}
            {% if df[df["question_id"]==question.id]['point'].iloc[0] == 0 %}
              <span class="badge text-bg-success text-white ms-3">Solved</span>
            {% else %}
              <span class="badge text-bg-warning text-white ms-3">Unsolved</span>
            {% endif %}
            </h2>
          </div>
          <div class="d-flex my-2">
            <span class="badge text-white" style="background-color: #7749F8">{{ question.grade }}</span>
            <span class="badge text-white ms-3" style="background-color: #7749F8">{{ question.topics }}</span>
            {% if question.difficulty=="Easy"%}
            <span class="badge text-white ms-3" style="background-color: #7749F8">{{ question.difficulty }}</span>
            {% elif question.difficulty=="Moderate"%}
            <span class="badge text-white ms-3" style="background-color: #7749F8">{{ question.difficulty }}</span>
            {% elif question.difficulty=="Hard"%}
            <span class="badge text-white ms-3" style="background-color: #7749F8">{{ question.difficulty }}</span>
            {% elif question.difficulty=="Extreme"%}
            <span class="badge text-white ms-3" style="background-color: #7749F8">{{ question.difficulty }}</span>
            {% endif %}
          </div>
          <div class="d-flex">
            <div class="media" style="width: 100%">
              <img class="img-fluid rounded" src="{{ url_for('static', filename='questionbank/' + question.qn_img) }}" style="width: 98%; height: auto; min-height: 150px">
            </div>            
            <div class="d-flex flex-column justify-content-start">
              <a class="btn btn-success btn-icon" href="{{ url_for('homeworks.solve_question',homework_id=homework.id, question_id=question.id) }}"><i class="bi bi-check-square text-white align-middle"></i></a>
              {% if current_user.account_type == 'Admin' %}
              <a class="btn btn-warning btn-icon mt-3" href="{{ url_for('homeworks.update_question',homework_id=homework.id, question_id=question.id, grade='ALL', topics='ALL', difficulty='ALL', load='not_loaded') }}"><i class="bi bi-pencil-square text-white align-middle"></i></a>
              <button type="button" onclick="hw_qn_num('{{ homework.id }}', '{{ question.id }}')" class="btn btn-danger btn-icon mt-3" data-bs-toggle="modal" data-bs-target="#deleteQuestion"><i class="bi bi-trash align-middle"></i></button>    
              {% endif %}
            </div>
            <!--Modal-->
            <div class="modal fade" id="deleteQuestion" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="exampleModalLabel">Delete Question?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="btn btn-danger" id="deleteButton" href="{{ url_for('homeworks.delete_question', homework_id='111', question_id='99') }}">Delete</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>  
        </div>
      {% endfor %}
    </div>
    <div class="mt-3">
      {% for page_num in questions.iter_pages() %} 
        {% if page_num %}
            {% if questions.page==page_num %} <!--different style for current page button-->
                <a class="btn btn-info mb-4" href="{{ url_for('homeworks.homework', page=page_num, homework_id=homework_id) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('homeworks.homework', page=page_num, homework_id=homework_id) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
