{% extends "layout.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + homework.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">{{ homework.date_posted.strftime('%Y-%m-%d') }}</small>
              <div>
                  <h2 class="article-title">{{ homework.title }}</h2>
                  {% if homework.author == current_user %}
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('homeworks.new_question',homework_id=homework.id, grade='ALL', tags='ALL', difficulty='ALL') }}">Add Question <i class="fa-solid fa-square-plus"></i></a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('homeworks.update_homework',homework_id=homework.id) }}">Update Homework <i class="fa-solid fa-pen-to-square"></i></a>
                    <button type = "button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteHomework">Delete Homework <i class="fa-solid fa-trash-can"></i></button>
                  {% endif %}
              </div>
              <!--Modal-->
              <div class="modal fade" id="deleteHomework" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Delete homework?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('homeworks.delete_homework', homework_id=homework.id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% for question in questions.items %} 
          <div>
            <h2 class="article-title">{{ question.title }}
            {% if df[df["question_id"]==question.id]['point'].iloc[0] == 0 %}
              <span class="badge badge-pill badge-success">Solved</span>
            {% else %}
              <span class="badge badge-pill badge-warning">Unsolved</span>
            {% endif %}
            </h2>
          </div>
          <h5>
            <span class="badge badge-pill badge-dark">{{ question.grade }}</span>
            <span class="badge badge-pill badge-secondary">{{ question.tags }}</span>
            {% if question.difficulty=="Easy"%}
            <span class="badge badge-pill badge-success">{{ question.difficulty }}</span>
            {% elif question.difficulty=="Moderate"%}
            <span class="badge badge-pill badge-info">{{ question.difficulty }}</span>
            {% elif question.difficulty=="Hard"%}
            <span class="badge badge-pill badge-warning">{{ question.difficulty }}</span>
            {% elif question.difficulty=="Extreme"%}
            <span class="badge badge-pill badge-danger">{{ question.difficulty }}</span>
            {% endif %}
          </h5>
          <div class="media">
            <img class="img-fluid" src="{{ url_for('static', filename='questionbank/' + question.qn_img) }}">
          </div> 
          <div class="pt-3">
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('homeworks.solve_question',homework_id=homework.id, question_id=question.id) }}">Solve Question <i class="fa-solid fa-square-check"></i></a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('homeworks.update_question',homework_id=homework.id, question_id=question.id, grade='ALL', tags='ALL', difficulty='ALL', load='not_loaded') }}">Update Question <i class="fa-solid fa-pen-to-square"></i></a>
            <button type = "button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteQuestion">Delete Question <i class="fa-solid fa-trash-can"></i></button>
          <div>
          <!--Modal-->
          <div class="modal fade" id="deleteQuestion" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete question?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('homeworks.delete_question', homework_id=homework.id, question_id=question.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </article>
  {% for page_num in questions.iter_pages(left_edge=5, right_edge=5, left_current = 1, right_current=1) %} 
    {% if page_num %}
        {% if questions.page==page_num %} <!--different style for current page button-->
            <a class="btn btn-info mb-4" href="{{ url_for('homeworks.homework', page=page_num, homework_id=homework_id) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('homeworks.homework', page=page_num, homework_id=homework_id) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
  {% endfor %}
{% endblock content %}
