{% extends "layout.html" %} 
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/today_datetime.js') }}" defer></script>
{% endblock %}
{% block content %} 
    <div class="content-section text-center" style="min-height:50vh">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="col w-100 my-3">
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                            <div class="media-body">
                                <div class="text-left">
                                    <h3 class="">
                                        {% if current_user.account_type == 'Admin' %}
                                        Admin Dashboard
                                        {% else %}
                                        Student Dashboard
                                        {% endif %}
                                    </h3>
                                    <h5 class="align-self-center text-muted">Hi {{ current_user.username }}! What do you wish to do today?</h5>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="d-flex justify-content-between mt-5">
                        <h3 class="text-left mx-3">Latest Homework</h3>
                        <a class="btn btn-primary" href="{{ url_for('homeworks.homework_all', student='ALL') }}">View All</a>
                    </div>
                    <hr>
                    {% if homework %}
                        <div class="col w-100 my-3">
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + homework.author.image_file) }}">
                                <div class="media-body">
                                    <div class="article-metadata text-left">
                                        <a class="mr-2">Posted by: {{ homework.author.username }}</a> 
                                        <small class="text-muted">Date Posted: {{ homework.date_posted.strftime('%Y-%m-%d') }}</small>
                                        {% if df[df['id']==homework.id]['attempt_percentage'].tolist()[0] == 100 %}
                                            <medium><span class="badge badge-pill badge-success float-right">Completed </span></medium>
                                        {% elif df[df['id']==homework.id]['attempt_percentage'].tolist()[0] == 0 %}
                                            <medium><span class="badge badge-pill badge-danger float-right">New!</span></medium>
                                        {% else %}
                                            <medium><span class="badge badge-pill badge-warning float-right">In Progress </span></medium>
                                        {% endif %}
                                    </div>
                                    <a class="article-title" href="{{ url_for('homeworks.homework', homework_id=homework.id) }}">
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <ul class="list-unstyled">
                                                    <li class="text-center">{{ homework.title }}</li>
                                                    <li class="text-center">No. of Questions: {{ df[df['id']==homework.id]['count'].tolist()[0] }}</li>
                                                    <li class="text-center">Due Date: {{ homework.deadline.strftime("%d %b %Y") }}</li>
                                                    <li class="text-center">Grade: {{ df[df['id']==homework.id]['correct_percentage'].tolist()[0] }}%</li>
                                                    <li class="mt-3 mb-0 text-left">
                                                        <h7 class="text-left">Progress: </h7>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style=
                                                            "width: {{ df[df['id']==homework.id]['attempt_percentage'].tolist()[0] }}%">{{ df[df['id']==homework.id]['attempt_percentage'].tolist()[0] }}%</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-between mt-5">
                        <h3 class="text-left mx-3">Latest Class Notes</h3>
                        <a class="btn btn-primary" href="{{ url_for('notes.notes_all', student='ALL') }}">View All</a>
                    </div>
                    <hr>
                    {% if note %}
                        <div class="col w-100 my-3">
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + note.author.image_file) }}">
                                <div class="media-body">
                                    <div class="article-metadata text-left">
                                        <a class="mr-2">Posted by: {{ note.author.username }}</a> 
                                        <small class="text-muted">Date Posted: {{ note.date_posted.strftime('%Y-%m-%d') }}</small>
                                        {% if note.date_posted.strftime('%Y-%m-%d') == date_now %}
                                        <medium><span class="badge badge-pill badge-danger float-right">New!</span></medium>
                                        {% endif %}
                                    </div>
                                    <a class="article-title" href="{{ url_for('notes.note', note_id=note.id) }}">
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <ul class="list-unstyled">
                                                    <li class="text-center">{{ note.title }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-between mt-5">
                        <h3 class="text-left mx-3">Activities</h3>
                    </div>
                    <hr>
                    {% if activities %}
                        <div class="col w-100">
                            {% for activity in activities[0:5] %}
                                <article class="media content-section my-1">
                                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + activity.author.image_file) }}">
                                    <div class="media-body">
                                        <div class="article-metadata text-left">
                                            <a class="mr-2">Posted by: {{ activity.author.username }}</a> 
                                            <small class="text-muted">~{{ activities_date_arr[loop.index-1] }} hours ago</small>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <div>{{ activity.description }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <button class="btn btn-link my-1" type="button" data-toggle="collapse" data-target="#moreactivities" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-angle-down"></i></button>
                        <div class="collapse" id="moreactivities">
                            <div class="col w-100">
                            {% for activity in activities[5:20] %}
                                <article class="media content-section my-1">
                                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + activity.author.image_file) }}">
                                    <div class="media-body">
                                        <div class="article-metadata text-left">
                                            <a class="mr-2">Posted by: {{ activity.author.username }}</a> 
                                            <small class="text-muted">~{{ activities_date_arr[loop.index-1] }} hours ago</small>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <div>{{ activity.description }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if current_user.account_type=='User' %}
                <div class="col-4 d-none d-lg-block d-xl-block">
                    <div class="col w-100 my-3">
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="d-flex text-left">
                                <h3 class="mx-2">Dates</h3>
                                <a class="btn btn-link" href="{{ url_for('users.user_dates', username = current_user.username) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                            {% if current_user.description1 %}
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light">{{ current_user.description1 }}:<br> {{ current_user.date1}} {{ current_user.time1 }}</li>
                                    {% if current_user.description2 %}
                                    <li class="list-group-item list-group-item-light">{{ current_user.description2 }}:<br> {{ current_user.date2}} {{ current_user.time2 }}</li>
                                    {% endif %}
                                    {% if current_user.description3 %}
                                    <li class="list-group-item list-group-item-light">{{ current_user.description3 }}:<br> {{ current_user.date3}} {{ current_user.time3 }}</li>
                                    {% endif %}
                                    {% if current_user.description4 %}
                                    <li class="list-group-item list-group-item-light">{{ current_user.description4 }}:<br> {{ current_user.date4}} {{ current_user.time4 }}</li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </article>
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="d-flex text-left">
                                <h3 class="mx-2">Topics</h3>
                                <a class="btn btn-link" href="{{ url_for('users.user_topics', username = current_user.username) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                            <ul class="list-group">
                                {% for topic in topics %}
                                    {% if checks[ loop.index-1 ] == '1' %}
                                        <li class="list-group-item list-group-item-light"><i class="fa-solid fa-check" style="color: green"></i> Topic {{ loop.index }}:<br> {{ topic }}</li>
                                    {% else %}
                                        <li class="list-group-item list-group-item-light">Topic {{ loop.index }}:<br> {{ topic }}</li>       
                                    {% endif %} 
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
