{% extends "layout.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
    <div class="content-section text-center" style="min-height:50vh">
        <h3 class="mt-5">IB Topical Questions</h3>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="min-height:50vh">
                <div class="card-deck justify-content-center align-items-center">
                    <div class="col-lg-2 col-md-4 mx-0">
                        <div class="card bg-primary">
                            <div class="card-header text-white">
                                Chapter 1
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                  </ul>
                                <a href="" class="btn btn-primary">Let's Go!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mx-0">
                        <div class="card bg-success">
                            <div class="card-header text-white">
                                Chapter 2
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                  </ul>
                                <a href="" class="btn btn-success">Let's Go!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mx-0">
                        <div class="card bg-warning">
                            <div class="card-header text-white">
                                Chapter 3
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                  </ul>
                                <a href="" class="btn btn-warning">Let's Go!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mx-0">
                        <div class="card bg-danger">
                            <div class="card-header text-white">
                                Chapter 4
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                  </ul>
                                <a href="" class="btn btn-danger">Let's Go!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mx-0">
                        <div class="card bg-info">
                            <div class="card-header text-white">
                                Chapter 5
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                  </ul>
                                <a href="" class="btn btn-infoy">Let's Go!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}