{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
<script>
    function homework_num(buttonValue) {
        var deleteButton = document.getElementById('deleteButton');
        deleteButton.href = deleteButton.href.replace('99', buttonValue);
    }
</script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate>
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex align-items-center">
                    <h2 class="fw-bold my-auto">My Homework</h2>
                    {% if current_user.account_type == 'Admin' %}
                    <a class="btn btn-primary btn-icon ms-3" href="{{ url_for('homeworks.new_homework') }}"><i class="bi bi-file-earmark-plus align-middle"></i></a>
                    {% endif %}
                </div>
                <hr class="black-white">
                {% if current_user.account_type == 'Admin' %}
                    {{ form.hidden_tag() }} <!--important, just add lol-->
                    <h5 class="fw-bold" style="padding-top: 20px;">Student</h5>
                    {% if form.student.errors %}
                        {{ form.student(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student(class="form-control form-control-lg mt-1") }}
                    {% endif %}
                    <div class="my-4 text-center">
                        <input type="submit" class="btn btn-outline-info" type="reset" name="action" value="Load Homework"/>
                    </div>
                {% endif %}
                {% for homework in homeworks.items %}
                <div class="d-flex">
                    <a class="article-title text-decoration-none expand-link w-100 my-3" href="{{ url_for('homeworks.homework', homework_id=homework.id) }}">
                        <div class="p-3 aga_latest_homework">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="circle-icon p-4">
                                    <i class="bi bi-book fs-4 black-white align-middle"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="fw-bold my-auto mx-auto">{{ homework.title }}</h3>
                                    <h5 class="my-auto mx-auto">Date Posted: {{ homework.date_posted.strftime('%d/%m/%Y') }}</h5>
                                </div>
                                {% if homework %}
                                    {% if df[df['id']==homework.id]['attempt_percentage'].tolist()[0] == 100 %}
                                        <span class="badge bg-success mt-0">Completed</span>
                                    {% elif df[df['id']==homework.id]['attempt_percentage'].tolist()[0] == 0 %}
                                        <span class="badge bg-danger mt-0">New!</span>
                                    {% else %}
                                        <span class="badge bg-warning mt-0">In Progress</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="mt-4" style="width: auto">
                                {% if homework %}
                                    <div class="aga_bubble mt-4">
                                        <div class="d-flex align-items-center justify-content-center aga_bubble_div my-3">
                                            <i class="bi bi-question-circle fs-4 black-white my-auto align-middle"></i>
                                            <h5 class="my-auto ms-2">{{ df[df['id']==homework.id]['count'].tolist()[0] }} Questions</h5>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center aga_bubble_div my-3">
                                            <i class="bi bi-check2-circle fs-4 black-white my-auto align-middle"></i>
                                            <h5 class="my-auto ms-2">{{ df[df['id']==homework.id]['correct_percentage'].tolist()[0] }}%</h5>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center my-3">
                                            <i class="bi bi-clock fs-4 black-white my-auto align-middle"></i>
                                            <h5 class="my-auto ms-2">{{ df[df['id']==homework.id]['homework_due_days'].tolist()[0] }} Days left</h5>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="progress mt-3">
                                <div class="homework-progress-bar progress-bar-striped test" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ df[df['id']==homework.id]['attempt_percentage'].tolist()[0] }}%"></div>
                            </div>
                        </div>
                    </a>
                    {% if current_user.account_type == 'Admin' %}
                    <div class="d-flex flex-column justify-content-start">
                        <a class="btn btn-warning btn-icon ms-3 mt-3" href="{{ url_for('homeworks.update_homework',homework_id=homework.id) }}"><i class="bi bi-pencil-square text-white align-middle"></i></a>
                        <button type="button" onclick="homework_num('{{ homework.id }}')" class="btn btn-danger btn-icon ms-3 mt-3" data-bs-toggle="modal" data-bs-target="#deleteHomework"><i class="bi bi-trash align-middle"></i></button>
                    </div>
                    <!--Modal-->
                    <div class="modal fade" id="deleteHomework" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title text-black" id="exampleModalLabel">Delete homework?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-footer">
                                <a type="button" class="btn btn-danger" id="deleteButton" href="{{ url_for('homeworks.delete_homework', homework_id='99') }}">Delete</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="mt-3">
                {% for page_num in homeworks.iter_pages() %} <!--define how many pages to show on bottom both sides-->
                {% if page_num %}
                    {% if homeworks.page==page_num %} <!--different style for current page button-->
                        {% if current_user.account_type == 'Admin' %}
                        <a class="btn btn-info" href="{{ url_for('homeworks.my_homework', page=page_num, student=form.student.data) }}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-info" href="{{ url_for('homeworks.my_homework', page=page_num, student='ALL') }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        {% if current_user.account_type == 'Admin' %}
                        <a class="btn btn-outline-info" href="{{ url_for('homeworks.my_homework', page=page_num, student=form.student.data) }}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-outline-info" href="{{ url_for('homeworks.my_homework', page=page_num, student='ALL') }}">{{ page_num }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
                {% endfor %}
            </div>  
        </div>  
    </div>
</form>
{% endblock content %}