{% extends "layout.html" %} 
{% block javaScript %}
<script>
    function lesson_num(buttonValue) {
        var deleteButton = document.getElementById('deleteButton');
        deleteButton.href = deleteButton.href.replace('99', buttonValue);
    }
</script>
{% endblock %}
{% block content %}
<form method="POST" action=""novalidate>
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex align-items-center">
                    <h2 class="fw-bold my-auto">My Lessons</h2>
                    {% if current_user.account_type == 'Admin' %}
                    <a class="btn btn-primary btn-icon ms-3" href="{{ url_for('lessons.new_lesson') }}"><i class="bi bi-file-earmark-plus align-middle"></i></a>
                    {% endif %}
                </div>
                <hr class="black-white">
                {% if current_user.account_type == 'Admin' %}
                    {{ form.hidden_tag() }} <!--important, just add lol-->
                    <h5 class="fw-bold" style="padding-top: 20px;">Student</h5>
                    {% if form.student.errors %}
                        {{ form.student(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student(class="form-control form-control-lg mt-1") }}
                    {% endif %}
                    <div class="my-4 text-center">
                        <input type="submit" class="btn btn-outline-info" type="reset" name="action" value="Load Lessons"/>
                    </div>
                {% endif %}
                {% for lesson in lessons.items %}
                <div class="d-flex">
                    <a class="article-title text-decoration-none expand-link w-100 my-3" href="{{ url_for('lessons.lesson', lesson_id=lesson.id) }}">
                        <div class="p-3 aga_latest_lesson">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="circle-icon p-4">
                                    <i class="bi bi-book fs-4 black-white align-middle"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="fw-bold my-auto mx-auto">{{ lesson.title }}</h3>
                                    <h5 class="my-auto mx-auto">Date Posted: {{ lesson.date_posted.strftime('%d/%m/%Y') }}</h5>
                                </div>
                                {% if loop.index == 1 %}
                                <span class="badge bg-danger mt-0">New!</span>
                                {% else %}
                                <span class="badge mt-0" style="color: #E8B03E">New!</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% if current_user.account_type == 'Admin' %}
                    <div class="d-flex flex-column justify-content-start">
                        <a class="btn btn-warning btn-icon ms-3 mt-3" href="{{ url_for('lessons.update_lesson',lesson_id=lesson.id) }}"><i class="bi bi-pencil-square text-white align-middle"></i></a>
                        <button type="button" onclick="lesson_num('{{ lesson.id }}')" class="btn btn-danger btn-icon ms-3 mt-3" data-bs-toggle="modal" data-bs-target="#deleteLesson"><i class="bi bi-trash align-middle"></i></button>
                    </div>
                    <!--Modal-->
                    <div class="modal fade" id="deleteLesson" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title text-black" id="exampleModalLabel">Delete lesson?</h5>
                                <div value="test"></div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-footer">
                                <a type="button" class="btn btn-danger" id="deleteButton" href="{{ url_for('lessons.delete_lesson', lesson_id='99') }}">Delete</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="mt-3">
                {% for page_num in lessons.iter_pages() %} <!--define how many pages to show on bottom both sides-->
                {% if page_num %}
                    {% if lessons.page==page_num %} <!--different style for current page button-->
                        {% if current_user.account_type == 'Admin' %}
                        <a class="btn btn-info" href="{{ url_for('lessons.my_lesson', page=page_num, student=form.student.data) }}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-info" href="{{ url_for('lessons.my_lesson', page=page_num, student='ALL') }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        {% if current_user.account_type == 'Admin' %}
                        <a class="btn btn-outline-info" href="{{ url_for('lessons.my_lesson', page=page_num, student=form.student.data) }}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-outline-info" href="{{ url_for('lessons.my_lesson', page=page_num, student='ALL') }}">{{ page_num }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
                {% endfor %}
            </div>  
        </div>  
    </div>
</form>
{% endblock content %}
