{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/question_img_script.js') }}" defer></script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<div class="content-section">
    <form method="POST" action=""novalidate> <!--post form via the route created-->
        {{ form.hidden_tag() }} <!--important, just add lol-->
        <div class="form-row">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="col">
                {{ form.title.label() }}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col">
                {{ form.grade.label(class="form-control-label") }}
                {% if form.grade.errors %}
                    {{ form.grade(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.grade.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.grade(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col">
                {{ form.tags.label(class="form-control-label") }}
                {% if form.tags.errors %}
                    {{ form.tags(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tags.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tags(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col">
                {{ form.difficulty.label(class="form-control-label") }}
                {% if form.difficulty.errors %}
                    {{ form.difficulty(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.difficulty.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.difficulty(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </div>
        
        <div class="my-4 text-center">
            <input type="submit" class="btn btn-outline-info" type="reset" name="action" value="Load Questions"/>
        </div>
        <legend class="border-bottom mb-4">Questionbank</legend>
        {% if images %}
            {% for image in images.items %}
                <div class="content-section">
                    <button onclick="btn_img( '{{ image.img }}' )" class="btn w-100" name="img" type="button" value="{{ image.img }}" style="background-color:white"> 
                        <div class="media align-items-center">
                            <img class="w-75 rounded" src="{{ url_for('static', filename='questionbank/' + image.img) }}">
                            <!-- <div class="text-center media-body">
                                <h3><span class="badge badge-pill badge-info">Qn: {{ image.id }}</span></h3>
                                <h3><span class="badge badge-pill badge-success">Answer: {{ image.answer }}</span></h3>
                            </div> -->
                        </div>
                    </button>
                </div> 
            {% endfor %}
            {% for page_num in images.iter_pages() %} <!--define how many pages to show on bottom both sides-->
                {% if page_num %}
                    {% if images.page==page_num %} <!--different style for current page button-->
                        <a class="btn btn-info mb-4" href="{{ url_for('homeworks.new_question', homework_id=homework_id, page=page_num, grade=form.grade.data, tags=form.tags.data, difficulty = form.difficulty.data) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('homeworks.new_question', homework_id=homework_id, page=page_num, grade=form.grade.data, tags=form.tags.data, difficulty = form.difficulty.data) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info" type="reset" id="img" name="action" value="">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
