{% extends "layout.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate>
    <div class="content-section" style="min-height:50vh">
        <h3 class="mt-5 text-center">Lesson Notes</h3>
        <div class="container-fluid text-center">
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('notes.new_note') }}">New Note <i class="fa-solid fa-square-plus"></i></a>
        </div> 
        {% if current_user.account_type == 'Admin' %}
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-row">
                <div class="col">
                    {{ form.student.label(class="form-control-label") }}
                    {% if form.student.errors %}
                        {{ form.student(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="my-4 text-center">
                <input type="submit" class="btn btn-outline-info" type="reset" name="action" value="Load Notes"/>
            </div>
            <hr>
        {% endif %}
        {% for note in notes.items %}
            <div class="col w-100 my-3">
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + note.author.image_file) }}">
                    <div class="media-body">
                        <div class="article-metadata text-left">
                            <a class="mr-2">Posted by: {{ note.author.username }}</a> 
                            <small class="text-muted">Date Posted: {{ note.date_posted.strftime('%Y-%m-%d') }}</small>
                            {% if note.date_posted.strftime('%Y-%m-%d') == date_now %}
                            <medium><span class="badge badge-pill badge-danger float-right">New!</span></medium>
                            {% endif %}
                        </div>
                        <a class="article-title" href="{{ url_for('notes.note', note_id=note.id) }}">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <ul class="list-unstyled">
                                        <li class="text-center">{{ note.title }}</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>
            </div>
        {% endfor %}
        {% for page_num in notes.iter_pages(left_edge=1, right_edge=1, left_current = 1, right_current=2) %} <!--define how many pages to show on bottom both sides-->
            {% if page_num %}
                {% if notes.page==page_num %} <!--different style for current page button-->
                    {% if current_user.account_type == 'Admin' %}
                    <a class="btn btn-info mb-4" href="{{ url_for('notes.notes_all', page=page_num, student=form.student.data) }}">{{ page_num }}</a>
                    {% else %}
                    <a class="btn btn-info mb-4" href="{{ url_for('notes.notes_all', page=page_num, student='ALL') }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    {% if current_user.account_type == 'Admin' %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('notes.notes_all', page=page_num, student=form.student.data) }}">{{ page_num }}</a>
                    {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('notes.notes_all', page=page_num, student='ALL') }}">{{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
</form>
{% endblock content %}