{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
  <script src="{{ url_for('static', filename='javascripts/whiteboard.js') }}" defer></script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>
        <div>
            <h2 class="article-title">{{ note.title }}</h2>
            {% if note.author == current_user %}
              <a class="btn btn-primary btn-sm mt-1 mb-1" href="">Add Page <i class="fa-solid fa-square-plus"></i></a>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('notes.update_note',note_id=note.id) }}">Update Note <i class="fa-solid fa-pen-to-square"></i></a>
              <button type = "button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deletenote">Delete Note <i class="fa-solid fa-trash-can"></i></button>
            {% endif %}
        </div>
        <hr>
        <form method="POST" action=""> <!--post form via the route created-->
          {{ form.hidden_tag() }} <!--important, just add lol-->
          <div class="form-group" id="canvas_parent">
              {{ form.workings(class="form-control form-control-lg") }}
              <div class="canvas-buttons">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle font-btn" type="button" id="dropdownMenuButton-font" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Font
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-font">
                        <button type="button" id="canvas-small-font-btn" class="btn-xs btn-secondary">S</button>
                        <button type="button" id="canvas-medium-font-btn" class="btn-sm btn-secondary">M</button>
                        <button type="button" id="canvas-large-font-btn" class="btn-lg btn-secondary">L</button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle color-btn" type="button" id="dropdownMenuButton-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Colours
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-color">
                    <button type="button" id="canvas-black-color-btn" class="btn btn-dark"></button>
                    <button type="button" id="canvas-red-color-btn" class="btn btn-danger"></button>
                    <button type="button" id="canvas-blue-color-btn" class="btn btn-primary"></button>
                    <button type="button" id="canvas-green-color-btn" class="btn btn-success"></button>
                    <button type="button" id="canvas-yellow-color-btn" class="btn btn-warning"></button>
                    </div>
                </div>
                <button type="button" id="canvas-eraser-btn" class="btn"><i class="fa-solid fa-eraser"></i></button>
                <button type="button" id="canvas-clear-btn" class="btn btn-info">Clear</button>
                <button id="canvas-save-btn" type="submit" name="refresh" value="save" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
                <button id="canvas-refresh-btn" type="submit" name="refresh" value="refresh" class="btn btn-success"><i class="fa-solid fa-rotate"></i></button>
                <button class="btn btn-warning" onclick="remove_canvas()" href="#carouselExampleControls" type="button" data-slide="prev"><i class="fa-solid fa-arrow-left-long"></i></button>
                <button class="btn btn-warning" onclick="add_canvas()" href="#carouselExampleControls" type="button" data-slide="next"><i class="fa-solid fa-arrow-right-long"></i></button>
              </div>
              <div id="carouselExampleControls" class="carousel slide" data-interval='false' data-ride="carousel">
                <div class="carousel-inner" id="canvas_arr">
                  <div class="carousel-item active">
                    <canvas class="mt-1" id="canvas"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--Modal-->
        <div class="modal fade" id="deletenote" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Note?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('notes.delete_note', note_id=note.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
