{% extends "layout_prelogin.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container" style="height: 80vh; display: flex; justify-content: center; align-items: center;">
        <div class="row" style="width: 100%; text-align: center;">
            <img class="img-fluid my-auto mx-auto" style="width: auto; height: auto;" src="{{ url_for('static', filename='icons/forgot-password-main.png') }}">
            <h1 class="display-4 fw-bold">Forgot your password?</h1>
            <small class="d-block mt-3">Enter the email address associated with your account.</small>
            <small class="d-block mt-3">We will send you a link to reset your password :)</small>
            <div class="input-group input-group-sm mt-3" style="width: 50vh; margin: 0 auto;">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-person-fill text-white fs-3"></i></span>
                </div>
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg", placeholder="Enter your Email Address") }}
                {% endif %}
            </div>
            <div class="row mt-3">
                <div class="d-grid col">
                </div>
                <div class="d-grid col-3">
                    {{ form.submit(class="btn btn-block btn-primary fw-bold h5") }}
                </div>
                <div class="d-grid col">
                </div>
            </div>
        </div>
    </div>
    
</form>
{% endblock content %}