{% extends "layout_prelogin.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container" style="height: 80vh; display: flex; justify-content: center; align-items: center;">
        <div class="row" style="width: 100%; text-align: center;">
            <div class="col">
                <img class="img-fluid my-auto mx-auto" style="width: auto; height: auto;" src="{{ url_for('static', filename='icons/forgot-password-main.png') }}">
                <h1 class="display-4 fw-bold">Reset Password</h1>
                <div class="input-group input-group-sm mt-3" style="width: 50vh; margin: 0 auto;">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-lock-fill text-white fs-3"></i></span>
                    </div>
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder="Enter your new password") }}
                    {% endif %}
                </div>
                <div class="input-group input-group-sm mt-3" style="width: 50vh; margin: 0 auto;">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-lock-fill text-white fs-3"></i></span>
                    </div>
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg", placeholder="Enter your new password again") }}
                    {% endif %}
                </div>
                <div class="row mt-3">
                    <div class="d-grid col">
                    </div>
                    <div class="d-grid col-3">
                        {{ form.submit(class="btn btn-block btn-primary fw-bold h5") }}
                    </div>
                    <div class="d-grid col">
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</form>
{% endblock content %}