{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/question_img_script.js') }}" defer></script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate enctype="multipart/form-data"> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex">
                    <h2 class="fw-bold">{{ legend }}</h2>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Title</h5>
                            {% if form.title.errors %}
                                {{ form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Grade</h5>
                            {% if form.grade.errors %}
                                {{ form.grade(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.grade.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.grade(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Topics</h5>
                            {% if form.topics.errors %}
                                {{ form.topics(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.topics.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.topics(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Difficulty</h5>
                            {% if form.difficulty.errors %}
                                {{ form.difficulty(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.difficulty.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.difficulty(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center" style="padding-top: 40px;">
                    <input type="submit" class="btn btn-outline-info" type="reset" name="action" value="Load Questions" />
                </div>      
                <hr class="black-white">
                {% if images %}
                {% for image in images.items %}
                <div class="d-flex" style="padding-top: 40px;">
                    <div class="media" style="width: 100%">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='questionbank/' + image.img) }}" style="width: 95%; height: auto;">
                    </div>
                    <div class="form-check my-auto">
                        <input class="form-check-input" type="radio" value="{{ image.id }}" name="flexRadioQB">
                    </div>
                </div> 
                {% endfor %}
                {% endif %}
            </div>
            <div class="mt-3">
                {% for page_num in images.iter_pages() %} <!--define how many pages to show on bottom both sides-->
                {% if page_num %}
                    {% if images.page==page_num %} <!--different style for current page button-->
                        <a class="btn btn-info mb-4" href="{{ url_for('homeworks.update_question', homework_id=homework_id, question_id=question_id, page=page_num, grade=form.grade.data, load='loaded', topics=form.topics.data, difficulty = form.difficulty.data) }}">{{ page_num }}</a> 
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('homeworks.update_question', homework_id=homework_id, question_id=question_id, page=page_num, grade=form.grade.data, load='loaded', topics=form.topics.data, difficulty = form.difficulty.data) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info" type="reset" id="img" name="action" value="">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
