{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/calc_MQ_answer.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/answer_fields.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/MQ_questionbank.js') }}" defer></script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate enctype="multipart/form-data"> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex">
                    <h2 class="fw-bold">{{ legend }}</h2>
                </div>
                <hr class="black-white">
                {% if img_preview %}
                <div class="content-section mt-3">
                    <div class="media">
                        <img class="w-100 rounded" src="{{ url_for('static', filename='questionbank/' + img_preview) }}">
                    </div>
                </div>
                {% endif %}   
                <div class="row" style="padding-top: 20px;">
                    <div class="form-group">
                        <h5 class="fw-bold">Click to Upload</h5>
                        {{ form.img(class="form-control-file text-white") }}
                        {% if form.img.errors %}
                            {% for error in form.img.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="padding-top: 40px;">
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Grade</h5>
                            {% if form.grade.errors %}
                                {{ form.grade(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.grade.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.grade(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Topics</h5>
                            {% if form.topics.errors %}
                                {{ form.topics(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.topics.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.topics(class="form-control form-control-lg", size=7) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h5 class="fw-bold">Difficulty</h5>
                            {% if form.difficulty.errors %}
                                {{ form.difficulty(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.difficulty.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.difficulty(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 40px;">
                    <div class="form-group" id="sub-answer">
                        {% if ans %}
                            <div class="d-flex align-items">
                                <h5 class="fw-bold my-auto">Answer</h5>
                                <button onclick="add_main_answer()" type="button" class="btn btn-primary btn-icon my-auto ms-3"><i class="bi bi-plus-square align-middle"></i></button>    
                                <button onclick="del_main_answer()" type="button" class="btn btn-danger btn-icon my-auto ms-3"><i class="bi bi-trash align-middle"></i></button>  
                            </div>
                            {% set count = namespace(value=1) %}
                            {% set ans_count = namespace(value=0) %}
                            {% for main_ans in ['A','B','C','D','E','F'] %}
                                {% if ans[(count.value-1)*7] != '' %}
                                    <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}">
                                        <div class="d-flex align-items-center my-3">
                                            <button onclick="add_sub_answer({{count.value}})" type="button" class="btn btn-link"><i class="bi bi-file-plus" style="font-size: 24px"></i></button>
                                            <button onclick="del_sub_answer({{count.value}})" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>   
                                            <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{main_ans}}:</h6>
                                            <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}">{{ans[ans_count.value]}}</div>
                                        </div>
                                        {% set ans_count.value = ans_count.value + 1 %}
                                        {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                        <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                            <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                                <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                                <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                            </div>
                                            {% set ans_count.value = ans_count.value + 1 %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% elif ans[(count.value-1)*7] == '' and ans[(count.value-1)*7+1] != ''%}
                                    <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}">
                                        <div class="d-flex align-items-center my-3">
                                            <button onclick="add_sub_answer({{count.value}})" type="button" class="btn btn-link"><i class="bi bi-file-plus" style="font-size: 24px"></i></button>
                                            <button onclick="del_sub_answer({{count.value}})" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>   
                                            <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{main_ans}}:</h6>
                                            <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}" style="display: none">{{ans[ans_count.value]}}</div>
                                        </div>
                                        {% set ans_count.value = ans_count.value + 1 %}
                                        {% set roman_count = namespace(value=1) %}
                                        {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                            {% if ans[(count.value-1)*7 + roman_count.value] != '' %}
                                            <div id="sub-answer-{{count.value}}-{{roman}}" style="display: block">
                                                <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                                    <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                                    <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                                </div>
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                            {% else %}
                                            <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                                <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                                    <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                                    <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                                </div>
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                            {% endif %}
                                        {% set roman_count.value = roman_count.value + 1 %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}" style="display: none">
                                        <div class="d-flex align-items-center my-3">
                                            <button onclick="add_sub_answer({{count.value}})" type="button" class="btn btn-link"><i class="bi bi-file-plus" style="font-size: 24px"></i></button>
                                            <button onclick="del_sub_answer({{count.value}})" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>   
                                            <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{main_ans}}:</h6>
                                            <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}">{{ans[ans_count.value]}}</div>
                                        </div>
                                        {% set ans_count.value = ans_count.value + 1 %}
                                        {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                            <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                                <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                                    <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                                    <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                                </div>
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% set count.value = count.value + 1 %}
                            {% endfor %}
                        {% else %}
                            <div class="d-flex align-items">
                                <h5 class="fw-bold my-auto">Answer</h5>
                                <button onclick="add_main_answer()" type="button" class="btn btn-primary btn-icon my-auto ms-3"><i class="bi bi-plus-square align-middle"></i></button>
                                <button onclick="del_main_answer()" type="button" class="btn btn-danger btn-icon my-auto ms-3"><i class="bi bi-trash align-middle"></i></button>  
                            </div>
                            <div class="row justify-content-start align-items-center" id="main-answer-1">
                                <div class="d-flex align-items-center my-3">
                                    <button onclick="add_sub_answer(1)" type="button" class="btn btn-link"><i class="bi bi-file-plus" style="font-size: 24px"></i></button>
                                    <button onclick="del_sub_answer(1)" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>   
                                    <h6 class="fw-bold my-auto" style="min-width: 60px">Part A:</h6>
                                    <div contenteditable="true" class="ms-3 form-control mathfield text-black" id="MQ-field-1"></div>
                                </div>
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                <div id="sub-answer-1-{{roman}}" style="display: none">
                                    <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                        <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                        <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-1-{{roman}}"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% set count = namespace(value=2) %}
                            {% for letter in 'BCDEF' %}
                                <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}" style="display: none">
                                    <div class="d-flex align-items-center my-3">
                                        <button onclick="add_sub_answer({{count.value}})" type="button" class="btn btn-link"><i class="bi bi-file-plus" style="font-size: 24px"></i></button>
                                        <button onclick="del_sub_answer({{count.value}})" type="button" class="btn btn-link" style="color: red"><i class="bi bi-file-minus" style="font-size: 24px"></i></button>   
                                        <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{letter}}:</h6>
                                        <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}"></div>
                                    </div>
                                    {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                        <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                            <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                            <div contenteditable="true" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}"></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% set count.value = count.value + 1 %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-xl-4 col-md-6" style="padding-top: 40px">
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_alphabet_x">x</button>
                        <button class="calculator-btn" type="button" id="calc_button_alphabet_y">y</button>
                        <button class="calculator-btn" type="button" id="calc_button_superscript">a<sup>b</sup></button>
                        <button class="calculator-btn" type="button" id="calc_button_subscript">a<sub>b</sup></button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_left_bracket">(</button>
                        <button class="calculator-btn" type="button" id="calc_button_right_bracket">)</button>
                        <button class="calculator-btn" type="button" id="calc_button_less"><</button>
                        <button class="calculator-btn" type="button" id="calc_button_more">></button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_modulus">|a|</button>
                        <button class="calculator-btn" type="button" id="calc_button_comma">,</button>
                        <button class="calculator-btn" type="button" id="calc_button_less_equal">≤</button>
                        <button class="calculator-btn" type="button" id="calc_button_more_equal">≥</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_sqrt">√</button>
                        <button class="calculator-btn" type="button" id="calc_button_pi">π</button>
                        <button class="calculator-btn" type="button" id="calc_button_theta">θ</button>
                        <button class="calculator-btn" type="button" id="calc_button_lambda">λ</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6" style="padding-top: 40px">
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_digit_7">7</button>
                        <button class="calculator-btn" type="button" id="calc_button_digit_8">8</button>
                        <button class="calculator-btn" type="button" id="calc_button_digit_9">9</button>
                        <button class="calculator-btn" type="button" id="calc_button_divide">÷</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_digit_4">4</button>
                        <button class="calculator-btn" type="button" id="calc_button_digit_5">5</button>
                        <button class="calculator-btn" type="button" id="calc_button_digit_6">6</button>
                        <button class="calculator-btn" type="button" id="calc_button_times">x</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_digit_1">1</button>
                        <button class="calculator-btn" type="button" id="calc_button_digit_2">2</button>
                        <button class="calculator-btn" type="button" id="calc_button_digit_3">3</button>
                        <button class="calculator-btn" type="button" id="calc_button_minus">-</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_digit_0">0</button>
                        <button class="calculator-btn" type="button" id="calc_button_decimal">.</button>
                        <button class="calculator-btn" type="button" id="calc_button_equal">=</button>
                        <button class="calculator-btn" type="button" id="calc_button_plus">+</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6" style="padding-top: 40px">
                    <div class="row justify-content-center">
                        <button class="calculator-btn" type="button" id="calc_button_vector">Vec</button>
                        <button class="calculator-btn" type="button" id="calc_button_matrix"><sup>n</sup>C<sub>r</sub></button>
                        <button class="calculator-btn" type="button" id="calc_button_deg"><sup>o</sup></button>
                        <button class="calculator-btn" type="button" id="calc_button_rad">rad</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn-lg" type="button" id="calc_button_arrow_left"><i class="bi bi-arrow-left align-middle"></i></button>
                        <button class="calculator-btn-lg" type="button" id="calc_button_arrow_right"><i class="bi bi-arrow-right align-middle"></i></button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn-lg" type="button" id="calc_button_3sf">3s.f.</button>
                        <button class="calculator-btn-lg" type="button" id="calc_button_1dp">1d.p.</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="calculator-btn-lg" type="button" id="calc_button_static">Static</button>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <button onclick="calc_ans()" type="submit" class="btn btn-primary" id="ans" name="action" value="">Upload</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}