{% extends "layout.html" %} <!--inherit from parent html-->
{% block content %} <!--block content here replaces block content in parent-->
    <div class="content-section">
        <form method="POST" action=""novalidate> <!--post form via the route created-->
            {{ form.hidden_tag() }} <!--important, just add lol-->
            <fieldset class="form-group">
                <legend class="border-bottom-mb-4">Dates</legend>
                <div class="form-group">
                    {{ form.description1.label(class="form-control-label") }}
                    {% if form.description1.errors %} <!--if got error, print error-->
                        {{ form.description1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description1.errors %} 
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <div class="mr-2">
                        {{ form.date1.label(class="form-control-label") }}
                        {{ form.date1(class="form-control form-control-lg") }}
                        </div>
                        <div class="ml-2">
                        {{ form.time1.label(class="form-control-label") }}
                        {{ form.time1(class="form-control form-control-lg") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description2.label(class="form-control-label") }}
                    {% if form.description2.errors %} <!--if got error, print error-->
                        {{ form.description2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description2.errors %} 
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <div class="mr-2">
                        {{ form.date2.label(class="form-control-label") }}
                        {{ form.date2(class="form-control form-control-lg") }}
                        </div>
                        <div class="ml-2">
                        {{ form.time2.label(class="form-control-label") }}
                        {{ form.time2(class="form-control form-control-lg") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description3.label(class="form-control-label") }}
                    {% if form.description3.errors %} <!--if got error, print error-->
                        {{ form.description3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description3.errors %} 
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <div class="mr-2">
                        {{ form.date3.label(class="form-control-label") }}
                        {{ form.date3(class="form-control form-control-lg") }}
                        </div>
                        <div class="ml-2">
                        {{ form.time3.label(class="form-control-label") }}
                        {{ form.time3(class="form-control form-control-lg") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description4.label(class="form-control-label") }}
                    {% if form.description4.errors %} <!--if got error, print error-->
                        {{ form.description4(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description4.errors %} 
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description4(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <div class="mr-2">
                        {{ form.date4.label(class="form-control-label") }}
                        {{ form.date4(class="form-control form-control-lg") }}
                        </div>
                        <div class="ml-2">
                        {{ form.time4.label(class="form-control-label") }}
                        {{ form.time4(class="form-control form-control-lg") }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}