{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/calc_solve_answer.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/whiteboard.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/MQ_solve.js') }}" defer></script>
    <script>
        var homework_id = "{{ homework_id }}";
        var question_id = "{{ question_id }}";
    </script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
    <div class="content-section">
        <form method="POST" action=""> <!--post form via the route created-->
            {{ form.hidden_tag() }} <!--important, just add lol-->
            <fieldset class="form-group" id="canvas_parent">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="media mb-2">
                    <img class="img-fluid mx-auto" src="{{ url_for('static', filename='questionbank/' + question.qn_img) }}">
                </div> 
                <div class="form-group">
                    {{ form.workings.label() }}
                    {{ form.workings(class="form-control form-control-lg") }}
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#canvas-grid" aria-expanded="false" aria-controls="canvas-grid">
                        <i class="fa-solid fa-chalkboard"></i></button>
                    <div class="collapse" id="canvas-grid">
                        <div id="toolbar" class="draggable toolbar-draggable mt-5" draggable="true" style="background-color: #c8e0f1">
                            <div class="mx-2 my-2 dropright">
                                <button id="toolbar_colorheader" type="button" class="btn btn-circle-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black">
                                    <i class="fa-solid fa-droplet"></i>
                                </button>
                                <div id="toolbar_color_collapse" class="dropdown-menu ml-2 mt-1" style="background-color: #c8e0f1;">
                                    <button type="button" id="canvas-color-btn-black" data-color="black" class="btn btn-circle-sm my-1" style="background-color: black"></button>
                                    <button type="button" id="canvas-color-btn-red" data-color="red" class="btn btn-circle-sm my-1" style="background-color: red"></button>
                                    <button type="button" id="canvas-color-btn-blue" data-color="blue" class="btn btn-circle-sm my-1" style="background-color: blue"></button>
                                    <button type="button" id="canvas-color-btn-green" data-color="green" class="btn btn-circle-sm my-1" style="background-color: green"></button>
                                    <button type="button" id="canvas-color-btn-yellow" data-color="yellow" class="btn btn-circle-sm my-1" style="background-color: yellow"></button>
                                </div>
                            </div>
                            <div id="font-picker" class="mx-2 my-2 dropright">
                                <button id="toolbar_fontheader" type="button" class="btn btn-circle-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-font"></i>
                                </button>
                                <div id="toolbar_font_collapse" class="dropdown-menu ml-2 mt-1" style="background-color: #c8e0f1;">
                                    <input type="range" min="2" max="15" value="2" class="slider" id="thickness-slider">
                                </div>
                            </div>
                            <button type="button" id="canvas-eraser-btn" class="btn btn-circle-lg mx-2 my-2"><i class="fa-solid fa-eraser"></i></button>
                            <button type="button" id="canvas-redo-btn" class="btn btn-circle-lg mx-2 my-2"><i class="fa-solid fa-rotate-right"></i></button>
                            <button type="button" id="canvas-undo-btn" class="btn btn-circle-lg mx-2 my-2"><i class="fa-solid fa-rotate-left"></i></button>
                        </div>
                        <div class="canvas-buttons d-flex justify-content-center">
                            <span class="my-auto mr-2" id="canvas-pg-num">Page 1/3</span>
                            <button type="button" id="canvas-prev-btn" href="#carouselExampleIndicators" class="btn btn-secondary mx-2" data-slide="prev">Prev <i class="fa-solid fa-circle-left"></i></button>
                            <button type="button" id="canvas-next-btn" href="#carouselExampleIndicators" class="btn btn-secondary mx-2" data-slide="next">Next <i class="fa-solid fa-circle-right"></i></button>
                            <button type="button" class="btn btn-info mx-2" data-toggle="modal" data-target="#clearWhiteboard">Clear</button>
                        </div>
                        <div class="modal fade" id="clearWhiteboard" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel">Are you sure you wish to clear the whiteboard?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="canvas-clear-btn" data-dismiss="modal" class="btn btn-info mx-2">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                               <div class="carousel-item active" style="transition-duration: 0.5s">
                                    <canvas class="mt-1" id="canvas1"></canvas>
                               </div>
                               <div class="carousel-item" style="transition-duration: 0.5s">
                                    <canvas class="mt-1" id="canvas2"></canvas>
                               </div>
                               <div class="carousel-item" style="transition-duration: 0.5s">
                                    <canvas class="mt-1" id="canvas3"></canvas>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="sub-answer">
                    {{ form.answer.label(class="form-control-label") }}
                    {% set count = namespace(value=1) %}
                    {% set ans_count = namespace(value=0) %}
                    {% for main_ans in ['A','B','C','D','E','F'] %}
                        {% if ans[(count.value-1)*7] != '' %}
                            <div class="row justify-content-center align-items-center" id="main-answer-{{count.value}}" style="">
                                <div class="col-lg-2 col-md-4 col-sm-6 mx-0">
                                    <p class="d-flex justify-content-around align-items-center form-control-label">
                                        {% if right_wrong %}
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                <i class="fa-solid fa-xmark" style="color: red"></i>
                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                <i class="fa-solid fa-xmark" style="color: white"></i>
                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                <i class="fa-solid fa-check" style="color: green"></i>
                                            {% endif %}
                                        {% endif %}
                                        Part {{main_ans}}:
                                    </p>
                                </div>
                                {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                        {{ans[ans_count.value]}}
                                    </div>
                                {% elif (right_wrong[ans_count.value]) == '0' and checked[ans_count.value] == '1' %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                        {{check_ans[ans_count.value]}} 
                                    </div>
                                {% else %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                        {{final_ans[ans_count.value]}}
                                    </div>
                                {% endif %}
                                {% set ans_count.value = ans_count.value + 1 %}
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                        <div class="row justify-content-end align-items-center">
                                            <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                <p class="form-control-label text-right">Part {{roman}}:</p>
                                            </div>
                                            {% if checked[ans_count.value] == '1' %}
                                                <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                    {{check_ans[ans_count.value]}} 
                                                </div>
                                            {% elif (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                                <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                    {{ans[ans_count.value]}}
                                                </div>
                                            {% else %}
                                                <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                    {{final_ans[ans_count.value]}}
                                                </div>
                                            {% endif %}
                                            {% set ans_count.value = ans_count.value + 1 %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% elif ans[(count.value-1)*7] == '' and ans[(count.value-1)*7+1] != ''%}
                            <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}" style="">
                                <div class="col-lg-2 col-md-4 col-sm-6 mx-0">
                                    <p class="d-flex justify-content-around align-items-center form-control-label">
                                        {% if right_wrong %}
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                <i class="fa-solid fa-xmark" style="color: red"></i>
                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                <i class="fa-solid fa-xmark" style="color: white"></i>
                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                <i class="fa-solid fa-check" style="color: green"></i>
                                            {% endif %}
                                        {% endif %}
                                        Part {{main_ans}}:
                                    </p>
                                </div>
                                {% if checked[ans_count.value] == '1' %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px; display: none">
                                        {{check_ans[ans_count.value]}} 
                                    </div>
                                {% elif (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px; display: none">
                                        {{ans[ans_count.value]}}
                                    </div>
                                {% else %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px; display: none">
                                        {{final_ans[ans_count.value]}}
                                    </div>
                                {% endif %}
                                {% set ans_count.value = ans_count.value + 1 %}
                                {% set roman_count = namespace(value=1) %}
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    {% if ans[(count.value-1)*7 + roman_count.value] != '' %}
                                        <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: block">
                                            <div class="row justify-content-end align-items-center">
                                                <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                    <p class="form-control-label text-right">
                                                        {% if right_wrong %}
                                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                                <i class="fa-solid fa-xmark" style="color: red"></i>
                                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                                <i class="fa-solid fa-xmark" style="color: white"></i>
                                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                                <i class="fa-solid fa-check" style="color: green"></i>
                                                            {% endif %}
                                                        {% endif %}
                                                        Part {{roman}}: 
                                                    </p>
                                                </div>
                                                {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{ans[ans_count.value]}}
                                                    </div>
                                                {% elif (right_wrong[ans_count.value]) == '0' and checked[ans_count.value] == '1' %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{check_ans[ans_count.value]}} 
                                                    </div>
                                                {% else %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{final_ans[ans_count.value]}}
                                                    </div>
                                                {% endif %}
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                            <div class="row justify-content-end align-items-center">
                                                <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                    <p class="form-control-label text-right">Part {{roman}}:</p>
                                                </div>
                                                {% if checked[ans_count.value] == '1' %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{check_ans[ans_count.value]}}
                                                    </div>
                                                {% elif (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{ans[ans_count.value]}}
                                                    </div>
                                                {% else %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{final_ans[ans_count.value]}}
                                                    </div>
                                                {% endif %}
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% set roman_count.value = roman_count.value + 1 %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="row justify-content-center align-items-center" id="main-answer-{{count.value}}" style="display: none">
                                <div class="col-lg-2 col-md-4 col-sm-6 mx-0">
                                    <p class="d-flex justify-content-around align-items-center form-control-label">
                                        Part {{main_ans}}:
                                    </p>
                                </div>
                                <div contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2 mathfield" id="MQ-field-{{count.value}}" style="min-height: 50px">
                                </div>
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                        <div class="row justify-content-end align-items-center">
                                            <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                <p class="form-control-label text-right">Part {{roman}}:</p>
                                            </div>
                                            <div contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2 mathfield" id="MQ-field-{{count.value}}-{{roman}}" style="min-height: 50px;">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </fieldset>
            <div class="container mb-3">
                <div class="row">
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_alphabet_x">x</button>
                            <button class="calculator-btn" type="button" id="calc_button_alphabet_y">y</button>
                            <button class="calculator-btn" type="button" id="calc_button_superscript">a<sup>b</sup></button>
                            <button class="calculator-btn" type="button" id="calc_button_subscript">a<sub>b</sup></button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_left_bracket">(</button>
                            <button class="calculator-btn" type="button" id="calc_button_right_bracket">)</button>
                            <button class="calculator-btn" type="button" id="calc_button_less"><</button>
                            <button class="calculator-btn" type="button" id="calc_button_more">></button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_modulus">|a|</button>
                            <button class="calculator-btn" type="button" id="calc_button_comma">,</button>
                            <button class="calculator-btn" type="button" id="calc_button_less_equal">≤</button>
                            <button class="calculator-btn" type="button" id="calc_button_more_equal">≥</button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_sqrt">√</button>
                            <button class="calculator-btn" type="button" id="calc_button_pi">π</button>
                            <button class="calculator-btn" type="button" id="calc_button_theta">θ</button>
                            <button class="calculator-btn" type="button" id="calc_button_lambda">λ</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_digit_7">7</button>
                            <button class="calculator-btn" type="button" id="calc_button_digit_8">8</button>
                            <button class="calculator-btn" type="button" id="calc_button_digit_9">9</button>
                            <button class="calculator-btn" type="button" id="calc_button_divide">÷</button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_digit_4">4</button>
                            <button class="calculator-btn" type="button" id="calc_button_digit_5">5</button>
                            <button class="calculator-btn" type="button" id="calc_button_digit_6">6</button>
                            <button class="calculator-btn" type="button" id="calc_button_times">x</button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_digit_1">1</button>
                            <button class="calculator-btn" type="button" id="calc_button_digit_2">2</button>
                            <button class="calculator-btn" type="button" id="calc_button_digit_3">3</button>
                            <button class="calculator-btn" type="button" id="calc_button_minus">-</button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn" type="button" id="calc_button_digit_0">0</button>
                            <button class="calculator-btn" type="button" id="calc_button_decimal">.</button>
                            <button class="calculator-btn" type="button" id="calc_button_equal">=</button>
                            <button class="calculator-btn" type="button" id="calc_button_plus">+</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row justify-content-center">
                            <button class="calculator-btn-lg" type="button" id="calc_button_delete">Delete</button>
                            <button class="calculator-btn" type="button" id="calc_button_arrow_left"><i class="fa-solid fa-arrow-left"></i></button>
                            <button class="calculator-btn" type="button" id="calc_button_arrow_right"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="calculator-btn-lg" type="button" id="calc_button_prev">Prev</button>
                            <button class="calculator-btn-lg" type="button" id="calc_button_next">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button onclick="calc_ans()" type="submit" class="btn btn-outline-info" type="reset" id="ans" name="action" value="">Submit/Save</button>
            </div>
        </form>
    </div>
{% endblock content %}