{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/whiteboard.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/calc_solve_answer.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/MQ_solve.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/check_ans.js') }}" defer></script>
    <script>
        var homework_id = "{{ homework_id }}";
        var question_id = "{{ question_id }}";
        var qnimgURL = "{{ question.qn_img }}";
        var imgarrURL = "{{ workings_images }}"
    </script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
<form method="POST" action=""novalidate enctype="multipart/form-data"> <!--post form via the route created-->
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 id="top-element" class="fw-bold">{{ legend }}</h2>
                    <div class="d-flex">
                        <h5 class="fw-bold my-auto">Whiteboard</h5>
                        {{ form.workings(class="form-control form-control-lg") }}
                        <button type="button" class="btn btn-info mx-2" data-bs-toggle="modal" data-bs-target="#openWhiteboard" id="open-whiteboard-btn"><i class="bi bi-clipboard align-middle text-white"></i></button>
                    </div>
                </div>
                <hr class="black-white">
            </div>
            <div class="content-section mt-3">
                <div class="media">
                    <img class="img-fluid mx-auto rounded" src="{{ url_for('static', filename='questionbank/' + question.qn_img) }}" id="questionImage">
                </div>
            </div>
            <div class="modal whiteboard-modal" id="openWhiteboard">
                <div class="modal-dialog whiteboard-modal" style="padding: 0; margin: 0;">
                  <div class="modal-content whiteboard-modal" style="padding: 0; margin: 0;">
                    <canvas id="whiteboard">Sorry, your browser does not support HTML5 canvas technology.</canvas>
                    <div class="modal-header whiteboard-overlay-top-right">
                      <button type="button" class="btn btn-primary mx-2" id="whiteboard-reset-zoom-btn">Reset Zoom</button>
                      <button type="button" class="btn btn-warning mx-2 text-white" id="whiteboard-clear-btn">Clear</button>
                      <button type="button" class="btn btn-danger mx-2" data-bs-dismiss="modal" data-bs-target="#openWhiteboard" id="whiteboard-close-btn">Close</button>
                    </div>
                    <div id="toolbar" class="draggable toolbar-draggable mt-5" draggable="true" style="background-color: #c8e0f1">
                        <div class="mx-2 my-2 dropend">
                          <button id="toolbar_colorheader" type="button" class="btn btn-circle-lg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black">
                            <i class="fa-solid fa-droplet"></i>
                          </button>
                            <div id="toolbar_color_collapse" class="dropdown-menu ms-2 mt-1" style="background-color: #c8e0f1;">
                              <button type="button" id="canvas-color-btn-black" data-color="black" class="btn btn-circle-sm my-1" style="background-color: black"></button>
                              <button type="button" id="canvas-color-btn-red" data-color="red" class="btn btn-circle-sm my-1" style="background-color: red"></button>
                              <button type="button" id="canvas-color-btn-blue" data-color="blue" class="btn btn-circle-sm my-1" style="background-color: blue"></button>
                              <button type="button" id="canvas-color-btn-green" data-color="green" class="btn btn-circle-sm my-1" style="background-color: green"></button>
                              <button type="button" id="canvas-color-btn-purple" data-color="purple" class="btn btn-circle-sm my-1" style="background-color: purple"></button>
                          </div>
                        </div>
                        <button type="button" id="canvas-eraser-btn" class="btn btn-circle-lg mx-2 my-2"><i class="fa-solid fa-eraser"></i></button>
                        <button type="button" id="canvas-undo-btn" class="btn btn-circle-lg mx-2 my-2"><i class="fa-solid fa-rotate-left"></i></button>
                    </div>
                  </div>
                </div>
            </div>  
            <div class="form-group" id="sub-answer" style="padding-top: 40px;">
                <h5 class="fw-bold my-auto">Enter your answers below:</h5>
                {% set count = namespace(value=1) %}
                {% set ans_count = namespace(value=0) %}
                {% for main_ans in ['A','B','C','D','E','F'] %}
                    {% if ans[(count.value-1)*7] != '' %}
                        <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}">
                            <div class="d-flex align-items-center my-3">
                                <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{main_ans}}:</h6>
                                {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                    <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}">{{ans[ans_count.value]}}</div>
                                {% else %}
                                    <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}">{{final_ans[ans_count.value]}}</div>
                                {% endif %}
                                <button onclick="check_ans('{{check_ans[ans_count.value]}}', 'MQ-field-{{count.value}}', '{{count.value}}')" type="button" class="ms-3 btn btn-outline-info">Check</button>
                                {% if right_wrong %}
                                {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                    <i class="bi bi-x-square align-middle ms-3 fs-1" id="wrong-check-{{count.value}}" style="color: red; display: block"></i>
                                    <i class="bi bi-check-square align-middle ms-3 fs-1" id="right-check-{{count.value}}" style="color: green; display: none"></i>
                                {% elif (final_ans[ans_count.value]) == "" %}
                                    <i class="bi bi-x-square align-middle ms-3 fs-1" id="wrong-check-{{count.value}}" style="color: red; display: none"></i>
                                    <i class="bi bi-check-square align-middle ms-3 fs-1" id="right-check-{{count.value}}" style="color: green; display: none"></i>
                                {% elif (right_wrong[ans_count.value]) == '0' %}
                                    <i class="bi bi-x-square align-middle ms-3 fs-1" id="wrong-check-{{count.value}}" style="color: red; display: none"></i>
                                    <i class="bi bi-check-square align-middle ms-3 fs-1" id="right-check-{{count.value}}" style="color: green; display: block"></i>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% set ans_count.value = ans_count.value + 1 %}
                            {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                    <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                        <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                        {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                        <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                        {% else %}
                                        <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{final_ans[ans_count.value]}}</div>
                                        {% endif %}
                                        {% set ans_count.value = ans_count.value + 1 %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% elif ans[(count.value-1)*7] == '' and ans[(count.value-1)*7+1] != ''%}
                        <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}">
                            <div class="d-flex align-items-center my-3">
                                <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{main_ans}}:</h6>
                                {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                    <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}" style="display: none">{{ans[ans_count.value]}}</div>
                                {% else %}
                                    <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}" style="display: none">{{final_ans[ans_count.value]}}</div>
                                {% endif %}
                                {% if right_wrong %}
                                {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                    <i class="bi bi-x-square align-middle ms-3 fs-1" style="color: red"></i>
                                {% elif (final_ans[ans_count.value]) == "" %}
                                    <i class="bi bi-x-square align-middle ms-3 fs-1" style="color: transparent"></i>
                                {% elif (right_wrong[ans_count.value]) == '0' %}
                                    <i class="bi bi-check-square align-middle ms-3 fs-1" style="color: green"></i>
                                {% endif %}
                            {% endif %}
                            </div>
                            {% set ans_count.value = ans_count.value + 1 %}
                            {% set roman_count = namespace(value=1) %}
                            {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                {% if ans[(count.value-1)*7 + roman_count.value] != '' %}
                                    <div id="sub-answer-{{count.value}}-{{roman}}" style="display: block">
                                        <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                            <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                            <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                            {% else %}
                                            <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{final_ans[ans_count.value]}}</div>
                                            {% endif %}
                                            <button onclick="check_ans('{{check_ans[ans_count.value]}}', 'MQ-field-{{count.value}}-{{roman}}', '{{count.value}}-{{roman}}')" type="button" class="ms-3 btn btn-outline-info">Check</button>
                                            {% if right_wrong %}
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                <i class="bi bi-x-square align-middle ms-3 fs-1" id="wrong-check-{{count.value}}-{{roman}}" style="color: red; display: block"></i>
                                                <i class="bi bi-check-square align-middle ms-3 fs-1" id="right-check-{{count.value}}-{{roman}}" style="color: green; display: none"></i>
                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                <i class="bi bi-x-square align-middle ms-3 fs-1" id="wrong-check-{{count.value}}-{{roman}}" style="color: red; display: none"></i>
                                                <i class="bi bi-check-square align-middle ms-3 fs-1" id="right-check-{{count.value}}-{{roman}}" style="color: green; display: none"></i>
                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                <i class="bi bi-x-square align-middle ms-3 fs-1" id="wrong-check-{{count.value}}-{{roman}}" style="color: red; display: none"></i>
                                                <i class="bi bi-check-square align-middle ms-3 fs-1" id="right-check-{{count.value}}-{{roman}}" style="color: green; display: block"></i>
                                            {% endif %}
                                            {% endif %}
                                            {% set ans_count.value = ans_count.value + 1 %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                        <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                            <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == 'NEW' %}
                                            <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{ans[ans_count.value]}}</div>
                                            {% else %}
                                            <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}">{{final_ans[ans_count.value]}}</div>
                                            {% endif %}
                                            {% set ans_count.value = ans_count.value + 1 %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% set roman_count.value = roman_count.value + 1 %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}" style="display: none">
                            <div class="d-flex align-items-center my-3">
                                <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{main_ans}}:</h6>
                                <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}"></div>
                            </div>
                            {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                <div id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                    <div class="d-flex align-items-center my-3" style="padding-left: 160px">
                                        <h6 class="fw-bold my-auto" style="min-width: 60px">Part {{roman}}:</h6>
                                        <div inputmode="none" class="ms-3 form-control mathfield" id="MQ-field-{{count.value}}-{{roman}}"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% set count.value = count.value + 1 %}
                {% endfor %}
            </div>
            <div class="" style="padding-top: 40px">
                <div class="row justify-content-center">
                    <button class="calculator-btn" type="button" id="calc_button_digit_7">7</button>
                    <button class="calculator-btn" type="button" id="calc_button_digit_8">8</button>
                    <button class="calculator-btn" type="button" id="calc_button_digit_9">9</button>
                    <button class="calculator-btn-lg" type="button" id="calc_button_next">Next Ans</button>
                </div>
                <div class="row justify-content-center">
                    <button class="calculator-btn" type="button" id="calc_button_digit_4">4</button>
                    <button class="calculator-btn" type="button" id="calc_button_digit_5">5</button>
                    <button class="calculator-btn" type="button" id="calc_button_digit_6">6</button>
                    <button class="calculator-btn-lg" type="button" id="calc_button_prev">Prev Ans</button>
                </div>
                <div class="row justify-content-center">
                    <button class="calculator-btn" type="button" id="calc_button_digit_1">1</button>
                    <button class="calculator-btn" type="button" id="calc_button_digit_2">2</button>
                    <button class="calculator-btn" type="button" id="calc_button_digit_3">3</button>
                    <button class="calculator-btn" type="button" id="calc_button_arrow_left"><i class="bi bi-arrow-left align-middle"></i></button>
                    <button class="calculator-btn" type="button" id="calc_button_arrow_right"><i class="bi bi-arrow-right align-middle"></i></button>
                </div>
                <div class="row justify-content-center">
                    <button class="calculator-btn" type="button" id="calc_button_digit_0">0</button>
                    <button class="calculator-btn" type="button" id="calc_button_decimal">.</button>
                    <button class="calculator-btn" type="button" id="calc_button_equal">=</button>
                    <button class="calculator-btn-lg" type="button" id="calc_button_delete">Delete</button>
                </div>
            </div>
            <div class="form-group mt-3">
                <button onclick="calc_ans()" type="submit" class="btn btn-primary" id="ans" name="action" value="">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}