{% extends "layout.html" %} <!--inherit from parent html-->
{% block javaScript %}
    <script src="{{ url_for('static', filename='javascripts/calc_solve_answer.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/whiteboard.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/whiteboard2.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/whiteboard3.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/MQ_solve.js') }}" defer></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
{% block content %} <!--block content here replaces block content in parent-->
    <div class="content-section">
        <form method="POST" action=""> <!--post form via the route created-->
            {{ form.hidden_tag() }} <!--important, just add lol-->
            <fieldset class="form-group" id="canvas_parent">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="media mb-2">
                    <img class="img-fluid mx-auto" src="{{ url_for('static', filename='questionbank/' + question.qn_img) }}">
                </div> 
                <div class="form-group">
                    {{ form.workings.label() }}
                    {{ form.workings(class="form-control form-control-lg") }}
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#canvas-grid" aria-expanded="false" aria-controls="canvas-grid">
                        <i class="fa-solid fa-pencil"></i></button>
                    <div class="collapse" id="canvas-grid">
                        <div class="canvas-buttons">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-font" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Font
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-font">
                                    <button type="button" id="canvas-small-font-btn" class="btn-xs btn-secondary">S</button>
                                    <button type="button" id="canvas-medium-font-btn" class="btn-sm btn-secondary">M</button>
                                    <button type="button" id="canvas-large-font-btn" class="btn-lg btn-secondary">L</button>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Colours
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-color">
                                <button type="button" id="canvas-black-color-btn" class="btn btn-dark"></button>
                                <button type="button" id="canvas-red-color-btn" class="btn btn-danger"></button>
                                <button type="button" id="canvas-blue-color-btn" class="btn btn-primary"></button>
                                <button type="button" id="canvas-green-color-btn" class="btn btn-success"></button>
                                <button type="button" id="canvas-yellow-color-btn" class="btn btn-warning"></button>
                                </div>
                            </div>
                            <button type="button" id="canvas-eraser-btn" class="btn"><i class="fa-solid fa-eraser"></i></button>
                            <button type="button" id="canvas-clear-btn" class="btn btn-info">Clear</button>
                            <button type="button" id="canvas-prev-btn" href="#carouselExampleIndicators" class="btn btn-secondary" data-slide="prev">Prev</button>
                            <button type="button" id="canvas-next-btn" href="#carouselExampleIndicators" class="btn btn-secondary" data-slide="next">Next</button>
                            <!--{% if final_ans %}
                                <button id="canvas-save-btn" type="refresh" name="refresh" value="save" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
                                <button id="canvas-refresh-btn" type="submit" name="refresh" value="refresh" class="btn btn-success"><i class="fa-solid fa-rotate"></i></button>
                            {% endif %}-->
                        </div>
                        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                               <div class="carousel-item active">
                                    <canvas class="mt-1" id="canvas1"></canvas>
                               </div>
                               <div class="carousel-item">
                                    <canvas class="mt-1" id="canvas2"></canvas>
                               </div>
                               <div class="carousel-item">
                                    <canvas class="mt-1" id="canvas3"></canvas>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="sub-answer">
                    {{ form.answer.label(class="form-control-label") }}
                    <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" data-html="true" title="
                    <p style='text-align:left'>
                        Keyboard Shortcuts: <br>
                        / = fraction <br>
                        ^ = Superscript <br>
                        _ = Subscript <br>
                        \times = × <br>
                        \divide = ÷ <br>
                        \sqrt = √ <br>
                        \pi = π 
                    </p>
                    "><i class="fa-solid fa-circle-info"></i></button>
                    {% set count = namespace(value=1) %}
                    {% set ans_count = namespace(value=0) %}
                    {% for main_ans in ['A','B','C','D','E','F'] %}
                        {% if ans[(count.value-1)*7] != '' %}
                            <div class="row justify-content-center align-items-center" id="main-answer-{{count.value}}" style="">
                                <div class="col-lg-2 col-md-4 col-sm-6 mx-0">
                                    <p class="d-flex justify-content-around align-items-center form-control-label">
                                        {% if right_wrong %}
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                <i class="fa-solid fa-xmark" style="color: red"></i>
                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                <i class="fa-solid fa-xmark" style="color: white"></i>
                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                <i class="fa-solid fa-check" style="color: green"></i>
                                            {% endif %}
                                        {% endif %}
                                        Part {{main_ans}}:
                                    </p>
                                </div>
                                {% if (right_wrong[ans_count.value]) == '1' %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                        {{ans[ans_count.value]}} 
                                    </div>
                                {% else %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                        {{final_ans[ans_count.value]}}
                                    </div>
                                {% endif %}
                                {% set ans_count.value = ans_count.value + 1 %}
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                        <div class="row justify-content-end align-items-center">
                                            <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                <p class="form-control-label text-right">Part {{roman}}:</p>
                                            </div>
                                            {% if (right_wrong[ans_count.value]) == '1' %}
                                                <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                    {{ans[ans_count.value]}}
                                                </div>
                                            {% else %}
                                                <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                    {{final_ans[ans_count.value]}}
                                                </div>
                                            {% endif %}
                                            {% set ans_count.value = ans_count.value + 1 %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% elif ans[(count.value-1)*7] == '' and ans[(count.value-1)*7+1] != ''%}
                            <div class="row justify-content-start align-items-center" id="main-answer-{{count.value}}" style="">
                                <div class="col-lg-2 col-md-4 col-sm-6 mx-0">
                                    <p class="d-flex justify-content-around align-items-center form-control-label">
                                        {% if right_wrong %}
                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                <i class="fa-solid fa-xmark" style="color: red"></i>
                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                <i class="fa-solid fa-xmark" style="color: white"></i>
                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                <i class="fa-solid fa-check" style="color: green"></i>
                                            {% endif %}
                                        {% endif %}
                                        Part {{main_ans}}:
                                    </p>
                                </div>
                                {% if (right_wrong[ans_count.value]) == '1' %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px; display: none">
                                        {{ans[ans_count.value]}}
                                    </div>
                                {% else %}
                                    <div id="MQ-field-{{count.value}}" contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px; display: none">
                                        {{final_ans[ans_count.value]}}
                                    </div>
                                {% endif %}
                                {% set ans_count.value = ans_count.value + 1 %}
                                {% set roman_count = namespace(value=1) %}
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    {% if ans[(count.value-1)*7 + roman_count.value] != '' %}
                                        <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: block">
                                            <div class="row justify-content-end align-items-center">
                                                <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                    <p class="form-control-label text-right">
                                                        {% if right_wrong %}
                                                            {% if (right_wrong[ans_count.value]) == '1' or (right_wrong[ans_count.value]) == '' %}
                                                                <i class="fa-solid fa-xmark" style="color: red"></i>
                                                            {% elif (final_ans[ans_count.value]) == "" %}
                                                                <i class="fa-solid fa-xmark" style="color: white"></i>
                                                            {% elif (right_wrong[ans_count.value]) == '0' %}
                                                                <i class="fa-solid fa-check" style="color: green"></i>
                                                            {% endif %}
                                                        {% endif %}
                                                        Part {{roman}}: 
                                                    </p>
                                                </div>
                                                {% if (right_wrong[ans_count.value]) == '1' %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{ans[ans_count.value]}}
                                                    </div>
                                                {% else %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{final_ans[ans_count.value]}}
                                                    </div>
                                                {% endif %}
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                            <div class="row justify-content-end align-items-center">
                                                <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                    <p class="form-control-label text-right">Part {{roman}}:</p>
                                                </div>
                                                {% if (right_wrong[ans_count.value]) == '1' %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{ans[ans_count.value]}}
                                                    </div>
                                                {% else %}
                                                    <div id="MQ-field-{{count.value}}-{{roman}}" contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2" style="min-height: 50px;">
                                                        {{final_ans[ans_count.value]}}
                                                    </div>
                                                {% endif %}
                                                {% set ans_count.value = ans_count.value + 1 %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% set roman_count.value = roman_count.value + 1 %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="row justify-content-center align-items-center" id="main-answer-{{count.value}}" style="display: none">
                                <div class="col-lg-2 col-md-4 col-sm-6 mx-0">
                                    <p class="d-flex justify-content-around align-items-center form-control-label">
                                        Part {{main_ans}}:
                                    </p>
                                </div>
                                <div contenteditable="true" class="col-lg-10 col-md-8 col-sm-6 mx-0 form-control form-control-lg mb-2 mathfield" id="MQ-field-{{count.value}}" style="min-height: 50px">
                                </div>
                                {% for roman in ["i", "ii", "iii", "iv", "v", "vi"] %}
                                    <div class="container" id="sub-answer-{{count.value}}-{{roman}}" style="display: none">
                                        <div class="row justify-content-end align-items-center">
                                            <div class="col-lg-4 col-md-6 col-sm-6 mx-0">
                                                <p class="form-control-label text-right">Part {{roman}}:</p>
                                            </div>
                                            <div contenteditable="true" class="col-lg-8 col-md-6 col-sm-6 mx-0 form-control form-control-lg mb-2 mathfield" id="MQ-field-{{count.value}}-{{roman}}" style="min-height: 50px;">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn" type="button" id="calc_button_plus">+</button>
                <button class="btn" type="button" id="calc_button_minus">-</button>
                <button class="btn" type="button" id="calc_button_times">x</button>
                <button class="btn" type="button" id="calc_button_divide">÷</button>
                <button class="btn" type="button" id="calc_button_sqrt">√</button>
                <button class="btn" type="button" id="calc_button_superscript">aˣ</button>
                <button class="btn" type="button" id="calc_button_subscript">aₓ</button>
                <button class="btn" type="button" id="calc_button_less"><</button>
                <button class="btn" type="button" id="calc_button_less_equal">≤</button>
                <button class="btn" type="button" id="calc_button_more">></button>
                <button class="btn" type="button" id="calc_button_more_equal">≥</button>
                <button class="btn" type="button" id="calc_button_pi">π</button>
            </div>
            <div class="form-group">
                <button onclick="calc_ans()" type="submit" class="btn btn-outline-info" type="reset" id="ans" name="action" value="">Submit/Save</button>
            </div>
        </form>
    </div>
{% endblock content %}